@import url('https://fonts.googleapis.com/css?family=Playball|Raleway');

body {
  background-color: #4B8BB2;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

h1 {
  font-family: 'Playball', cursive;
  font-size: 4em;
  color: white;
  margin: 0;
  margin-top: 10vh;
}

h2 {
  margin-top: 10px;
}

h3 {
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

img {
  width: 90%;
}

.intro {
  padding: 20px;
  height: 40vh;
}

.outro {
  padding: 20px;
  height: 40vh;
  text-align: center;
}

.scroll__graphic {
  transition: all 500ms ease-in-out;
  background: linear-gradient(#000, transparent, transparent), url(./img/1.jpg);
  background-size: cover;
  background-position: center;
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 0;
  height: 100vh;
  width: 50%;
}

.scroll__graphic p {
  text-align: center;
  color: white;
  font-size: 0.8em;
}

.scroll__text {
  width: 50%;
}

.step {
  /*min-height: 400px;*/
  padding: 20px;
  background-color: #7ACCFF;
}

.step.is-active {
  background-color: #FF8350;
}
